$orange: #FF6600;
$blue: #3a91c5;

.btn-primary {
    background: $orange;
    border-color: $orange;

    &:hover {
        opacity: .9;
        background: $orange;
        border-color: $orange;
    }
}

.field-validation-error {
    color: #f00;
}

@mixin background-color {
    background: rgb(39,39,47);
}

@mixin color {
    color: #3a91c5;
}

@mixin color-orange {
    color: #FF6600;
}

@font-face {
    font-display: swap;
    font-family: 'lato-bold';
    src: url('../webfonts/lato-bold.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'lato-light';
    src: url('../webfonts/lato-light.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'lato-regular';
    src: url('../webfonts/lato-regular.woff2') format('woff2');
}


@mixin maxWidth($value) {
    @media (max-width: $value) {
        @content;
    }
}

@mixin backgroundFooter {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 65%), rgba(0, 0, 0, 89%)), url('images/img-main/footer-img.jpg');
}

@mixin lato-400 {
    font-family: 'lato-regular', sans-serif;
}

@mixin lato-700 {
    font-family: lato-bold, sans-serif;
}

@mixin lato-300 {
    font-family: 'lato-light', sans-serif;
}

@mixin playfair {
    font-family: 'Playfair Display', serif;
}
