@model banruou.ViewModel.GetAllProductViewModel
@using PagedList.Mvc

@if (Model.Products.Any())
{
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-4 col-6">
                @Html.Partial("_itemProduct", item)
            </div>
        }
    </div>
    if (Model.Products.PageCount > 1)
    {
        <div class="text-center">
            @Html.PagedListPager(Model.Products, page => Url.Action("GetAllProduct", new { page }))
        </div>
    }
}
