@model banruou.ViewModel.GetNavProduct

<div class="list-category post-name-related">
    <div class="list-category-title">
        Danh mục sản phẩm
    </div>
    <ul class="list-item-category">
        @foreach (var item in Model.ProductCategories)
        {
            <li @if (item.Id == Model.CategoryId){@Html.Raw("class='active'")}><a href="@Url.Action( "CategoryProduct" ,"Home" , new { url = item.Url })">@item.CategoryName</a></li>
        }
    </ul>
</div>

